<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<main>
<div class="jumbotron">
  <h1 class="display-4"><%= title%></h1>
  <p class="lead">Welcome to my webpage. To navigate around this site, utilize the bar above!</p>
  <hr class="my-4">
</div>
</main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>